# JWT SECRET
JWT_SECRET="your_jwt_secret_here"

ADMIN_EMAILS="admin@example.com"

# Neon Database Postgres
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Supabase
SUPABASE_URL="https://your-project-id.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"

# Inngest
INNGEST_EVENT_KEY="your_inngest_event_key"
INNGEST_SIGNING_KEY="your_inngest_signing_key"

# SMTP Credentials
SENDER_EMAIL="your_email@example.com"
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"

# Stripe Credentials
STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
